body {
  background-color: pink;
  font-family: sans-serif;
}

a:link {
  color: none;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
