body {
  background-color: pink;
  font-family: sans-serif;
}

.active {
  color: deeppink;
}

a:link {
  style: none;
}

/* visited link */
a:visited {
  style: none;
}

/* mouse over link */
a:hover {
  color: deeppink;
}
