---
---

body {
  background-color: black;
  color: white;
  font-family: 'Courier New', sans-serif;
}

.active {
  color: deeppink;
}

a:link, a:active, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: deeppink;
}

.surprise {
  width: 50%;
  margin: auto;
  text-align: center;
}
